// Eigene Farben definieren
$purple: #f71a5f;
$blue: #0082a4;
$green: #0082a4;

// Bulma anpassen
$primary: $purple;
$info: $blue;
$dark: #353535;

$pagination-current-background-color: $dark;
$pagination-current-border-color: $dark;

// Bulma importieren
@import "bulma/bulma";

// Buefy anpassen
.b-table .table th.is-sortable .th-wrap {
    padding-right: 1rem;
}

.b-table .table-mobile-sort .button.is-primary {
    background-color: $dark;
}

.b-table .table td a:not([class*=button]):not(.no-decoration) {
    position: relative;
    color: currentColor;

    &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: -.25em;
        width: 3rem;
        height: 4px;
        background-color: $primary;
    }
}

@include until($tablet) {
    .b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
        text-align: unset;
        flex-wrap: wrap;
    }
}
